@page "/randomcharacter"
@inject DiscordWebhookService dsw
@inject EPDataService epd
@inject LifepathService lps
@inject IJSRuntime JSRuntime

<h3>RandomCharacter</h3>

<button @onclick="DownloadText">Download text file</button>

@code {
    async Task DownloadBinary()
    {
        // Generate a file
        byte[] file = Enumerable.Range(0, 100).Select(value => (byte)value).ToArray();

        // Send the data to JS to actually download the file
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", "file.bin", "application/octet-stream", file);
    }

    async Task DownloadText()
    {
        // Generate a text file
        var s = System.Text.Json.JsonSerializer.Serialize(await lps.GenerateEgo());
        byte[] file = System.Text.Encoding.UTF8.GetBytes(s);
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", "RandomCharacter.json", "text/plain", file);
    }
}

