@page "/"
@inject EPTools.Common.Services.DiscordWebhookService dsw
@inject EPTools.Common.Services.EPDataService epd

<button @onclick="@(async () => await Post())">Post</button>



@code{
    private List<EPTools.Common.Models.DTO.LifepathNativeTongue> list = new List<Common.Models.DTO.LifepathNativeTongue>();

    protected override async Task OnInitializedAsync()
    {
    }

    private async Task Post()
    {
        await dsw.SendWebhook();
    }
}