@page "/"
@inject EPTools.Common.Services.DiscordWebhookService dsw

<button @onclick="@(async () => await Post())">Post</button>

@code{
    private async Task Post()
    {
        await dsw.SendWebhook();
    }
}